@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #F4F7F9;
  font-family: 'Inter', Ubuntu, Helvetica, Arial, sans-serif;
  font-weight: 500;
  overflow-x: hidden; }

nav {
  color: white;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #23232E;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 85px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  overflow-x: hidden;
  z-index: 5; }
  nav a {
    text-decoration: none;
    width: 100%;
    height: 80px; }
  nav.open {
    width: 300px; }
    nav.open span {
      transition-duration: 1.35s !important;
      position: absolute !important;
      left: 80px !important;
      opacity: 100% !important; }
  nav div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #23232E;
    transition-duration: 0.25s; }
    nav div:hover {
      background-color: #15151967;
      color: #ffffff;
      opacity: 100% !important;
      }
      nav div:hover svg {
        fill: #FB7E7E; }
    nav div span {
      transition-timing-function: ease;
      text-overflow: clip;
      text-decoration: none;
      position: absolute;
      color: #b6b6b6;
      font-weight: 500;
      font-size: 1.15rem;
      opacity: 0;
      word-wrap: none; }
    nav div#logo-tile {
      background-color: #141418;
      margin-bottom: 20px; }
      nav div#logo-tile span {
        left: 80px;
        font-size: 1.3rem;
        font-weight: 600; }
      nav div#logo-tile svg {
        right: 21px; }

    nav div.active {
      background-color:#141418;}
    nav div.active svg {
      fill: #FB7E7E; }
    nav div svg {
      position: absolute;
      left: 21px;
      fill: #8f8f8f;
      transition-property: fill;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      width: 35px;
      height: 35px; }

main {
  position: relative;
  width: calc(100vw - 80px);
  left: 80px; }
  main header {
    background-color: #4D4D5B;
    width: 100%;
    min-height: 100px;
    padding: 20px 48px;
    display: flex;
    flex-direction: column; }
    main header #title {
      font-weight: 900;
      color: #A0A0AB;
      margin-bottom: 12px; }
    main header #headline {
      font-weight: 600;
      color: #FFFFFF;
      margin-bottom: 30px; }
  main section {
    padding: 42px 60px;}
    main section#blog-tiles {
      display: grid;
      grid-template-columns: repeat(auto-fill, 370px);
      grid-auto-flow: row;
      column-gap: 42px;
      row-gap: 42px;
      justify-content: center; }
    main section .blog-card {      
      transition: 0.2s ease-out;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: #adc6d66e 0px 7px 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 80px 30px;
      width: 370px;
      font-size: 1.05rem;
      height: 200px;
      background-color: #fdfdfd;
      padding: 20px 25px; }
      main section .blog-card .blog-title {
        font-size: 1.4rem;
        grid-column: 1/6; }
      main section .blog-card .author-image {
        grid-row: 3/5;
        grid-column: 1/2;
        width: 42px;
        height: 42px;
        margin-left: -20px;
        border-radius: 100%;
        background-color: black;
        justify-self: center;
        align-self: center; }
      main section .blog-card .post-date {
        opacity: 0.7;
        grid-row: 4/5;
        grid-column: 2/4; }
      main section .blog-card .author-name {
        opacity: 0.7;
        grid-row: 3/4;
        grid-column: 2/6; }
      
      a.blog-card-link, a.blog-card-link:hover {
        text-decoration: none;
        color: inherit;
      }
      main section .blog-card:hover {
        box-shadow: #adc6d6b4 0px 15px 20px; 
        transform: translateY(-4px);
      }

@media only screen and (max-width: 900px) {
  main {
    left: 0;
    width: 100vw; }
  nav {
    width: 100vw;
    height: 80px;
    top: unset;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center; }
    nav #logo-tile {
      display: none;
      margin-bottom: 0 !important; }
    nav div.active {
      background-color: #151519;}
    nav.open {
      width: 100vw; }
      nav.open span {
        display: none; }
    nav span {
      display: none; } }


@media only screen and (min-width: 600px) {
  main header{
    padding: 36px 48px;
  }
  main header #title {
    font-size: 1.5rem;
  }
  main section{    
    margin: 55px auto; 
  }
  main header #headline{
    font-size: 2rem;
    width: 55%;
  }
}

@media only screen and (max-width: 600px) {
  main header{
    padding: 28px 30px;
  }
  main header #title {    
    margin-top: 12px;
    font-size: 1.35rem;
  }
  main header #headline{
    font-size: 1.6rem;
    width: 100%;
  }
  main section{    
    margin: auto auto; 
  }
  main section .blog-card {
    width: 90%;
  }
}