@import "https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap";
* {
	box-sizing: border-box;
}
::selection {
	background-color: #fb7e7e7c;
	color: #fff;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #e2dddd;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #FB7E7E;
	border-radius: 10px;
	&:hover {
		background: #c97171;
	}
}
body {
	margin: 0;
	background-color: #F4F7F9;
	font-family: 'Inter', Ubuntu, Helvetica, Arial, sans-serif;
	font-weight: 500;
	overflow-x: hidden;
}
nav {
	color: white;
	text-decoration: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #23232E;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	width: 85px;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	overflow-x: hidden;
	z-index: 5;
	a {
		text-decoration: none;
		width: 100%;
		height: 80px;
	}
	div {
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background-color: #23232E;
		transition-duration: 0.25s;
		&:hover {
			background-color: #15151967;
			color: #ffffff;
			opacity: 100% !important;
			svg {
				fill: #FB7E7E;
			}
		}
		span {
			transition-timing-function: ease;
			text-overflow: clip;
			text-decoration: none;
			position: absolute;
			color: #b6b6b6;
			font-weight: 500;
			font-size: 1.15rem;
			opacity: 0;
			word-wrap: none;
		}
		svg {
			position: absolute;
			left: 21px;
			fill: #8f8f8f;
			transition-property: fill;
			transition-duration: 0.2s;
			transition-timing-function: ease;
			width: 35px;
			height: 35px;
		}
	}
	div#logo-tile {
		background-color: #141418;
		margin-bottom: 20px;
		span {
			left: 80px;
			font-size: 1.3rem;
			font-weight: 600;
		}
		svg {
			right: 21px;
		}
	}
	div.active {
		background-color: #141418;
		svg {
			fill: #FB7E7E;
		}
	}
}
nav.open {
	width: 300px;
	span {
		transition-duration: 1.35s !important;
		position: absolute !important;
		left: 80px !important;
		opacity: 100% !important;
	}
}
main {
	position: relative;
	width: calc(100vw - 85px);
	left: 85px;
	header {
		background-color: #4D4D5B;
		width: 100%;
		min-height: 100px;
		display: flex;
		flex-direction: column;
		#title {
			font-weight: 900;
			color: #aba0a0;
			margin-bottom: 12px;
		}
		#headline {
			font-weight: 600;
			color: #FFFFFF;
			margin-bottom: 30px;
		}
	}
	section {
		padding: 42px 60px;
		.blog-card {
			transition: transform 1.5s cubic-bezier(0,.67,.16,1), box-shadow 1.5s cubic-bezier(0,.67,.16,1), -webkit-transform 1.2s cubic-bezier(0,.67,.16,1);
			opacity: 0.9;
			overflow: hidden;
			border-radius: 15px;
			box-shadow: #adc6d66e 0px 7px 15px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 80px 30px;
			width: 370px;
			font-size: 1.05rem;
			height: 200px;
			background-color: #fdfdfd;
			padding: 20px 25px;
			.blog-title {
				margin-bottom: 200px;
				font-size: 1.35rem;
				font-weight: 700;
				color: #464242;
				grid-column: 1/6;
			}
			.author-image {
				grid-row: 3/5;
				grid-column: 1/2;
				width: 42px;
				height: 42px;
				margin-left: -20px;
				border-radius: 100%;
				justify-self: center;
        		align-self: center;
			}
			.khanak{background: url("../assets/blog/khanak.png") repeat 0 0;}
			.samridhi{background: url("../assets/blog/samridhi.png");}
			.ananya{background: url("../assets/blog/ananya.png");}
			.medhya{background: url("../assets/blog/medhya.png");}
			.tapasmi{background: url("../assets/blog/tapasmi.png");}
			.swastika{background: url("../assets/blog/swastika.png");}
			.line {
				grid-column: 1/6;
				grid-row: 2/3;
				width: 21vw;
				margin-top: 20px;
				background-color: #7474bb3a;
				border-radius: 20%;
				height: 1.5px;
			}
			.post-date {
				opacity: 0.7;
				grid-row: 4/5;
				grid-column: 2/4;
			}
			.author-name {
				opacity: 0.8;
				font-weight: 600;
				grid-row: 3/4;
				grid-column: 2/6;
			}
			&:hover {
				color: #000 !important;
				opacity: 1;
				box-shadow: #b5cdddb4 0px 18px 25px;
				transform: translateY(-7px);
			}
		}
    }
    
	section#blog-tiles {
		display: grid;
		grid-template-columns: repeat(auto-fill, 370px);
		grid-auto-flow: row;
		column-gap: 42px;
		row-gap: 42px;
		justify-content: center;
    }
    
    &#team
    {
        left: 0;
        width: 100%;

        section
        {
            padding: 10px 100px;
            margin: 30px 0;
        
            h1.title
            {
                padding: 0;
				margin: 12px 5px;
				// margin-bottom: 25px !important;
                font-size: 2.8rem;
                font-weight: 600;
                color: #6F767B;
            }

            div.card-flex
            {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                div.team-card
                {
					transition: transform 0.5s cubic-bezier(0,.67,.16,1), box-shadow 1.5s cubic-bezier(0,.67,.16,1), -webkit-transform 1.2s cubic-bezier(0,.67,.16,1);
                    width: 360px;
                    height: 280px;
                    background-color: white;
                    border-radius: 18px;
                    margin-right: 50px;
                    margin-bottom: 50px;
                    box-shadow:#adc6d66e 0px 7px 15px;
                    padding: 30px 33px;
					position: relative;
					&:hover {
						box-shadow:#a4c1d479 0px 15px 20px;
						transform: translateY(-7px);
					}

                    .card-image
                    {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
						margin-bottom: 16px;
					}
					.naman{background: url("../assets/team/naman.png");}
					.kairon{background: url("../assets/team/kairon.png");}
					.swastika{background: url("../assets/team/swastika.png");}
					.shubhro{background: url("../assets/team/shubhro.png");}
					.santripta{background: url("../assets/team/santripta.png");}

                    .card-content
                    {
                        margin-left: 8px;

                        .name
                        {
                            font-size: 1.7rem;
                            font-weight: 600;
                            color: #606063;
                        }
                        
                        .designation
                        {
                            font-size: 1.25rem;
                            margin-top: 4px;
                            font-weight: 500;
							color: #9B9B9C;
							margin-bottom: 12px;
                        }

                        .socials
                        {
                            overflow: hidden;
                            position: absolute;
                            bottom: 24px;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;

                            a
                            {
								transition: 0.35s;
                                font-size: 28px;
                                color: #e48181;
                                cursor: pointer;
								margin-right: 14px;
								&:hover{
									color: #a75b5b;	
									transform: scale(1.05);							
								}
							}							
                        }
                    }
				}
				div.team-card-role
                {
					transition: transform 0.5s cubic-bezier(0,.67,.16,1), box-shadow 1.5s cubic-bezier(0,.67,.16,1), -webkit-transform 1.2s cubic-bezier(0,.67,.16,1);
                    width: 360px;
                    height: 220px;
                    background-color: white;
                    border-radius: 18px;
                    margin-right: 50px;
                    margin-bottom: 50px;
                    box-shadow:#adc6d66e 0px 7px 15px;
                    padding: 30px 33px;
					position: relative;
					&:hover {
						box-shadow:#a4c1d479 0px 15px 20px;
						transform: translateY(-7px);
					}

                    .card-image
                    {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background-color: #7475d8;
                        margin-bottom: 16px;
					}
					.anahita{background: url("../assets/team/anahita.png");}
					.jyotika{background: url("../assets/team/jyotika.png");}
					.kudrat{background: url("../assets/team/kudrat.png");}
					.paarth{background: url("../assets/team/paarth.png");}
					.shrey{background: url("../assets/team/shrey.png");}
					.ambi{background: url("../assets/team/");}
					.anisha{background: url("../assets/team/");}
					.kabir{background: url("../assets/team/kabir.png");}
					.shria{background: url("../assets/team/shria.png");}
					.sukhumjeet{background: url("../assets/team/sukhumjeet.png");}
					.ananya{background: url("../assets/team/ananya.png");}
					.khanak{background: url("../assets/team/khanak.png");}
					.medhya{background: url("../assets/team/medhya.png");}
					.samridhi{background: url("../assets/team/samridhi.png");}
					.tapasmi{background: url("../assets/team/tapasmi.png");}

                    .card-content
                    {
                        margin-left: 8px;

                        .name
                        {
                            font-size: 1.7rem;
                            font-weight: 600;
                            color: #606063;
                        }
                        
                        .designation
                        {
                            font-size: 1.25rem;
                            margin-top: 4px;
                            font-weight: 500;
							color: #9B9B9C;
							margin-bottom: 12px;
                        }

                        .socials
                        {
                            overflow: hidden;
                            position: absolute;
                            bottom: 24px;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;

                            a
                            {
								transition: 0.35s;
                                font-size: 28px;
                                color: #e48181;
                                cursor: pointer;
								margin-right: 14px;
								&:hover{
									color: #a75b5b;	
									transform: scale(1.05);							
								}
							}
							
                        }
                    }
                }
            }
        }

    }
}


a.blog-card-link {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
@media only screen and (max-width: 900px) {
	main {
		left: 0;
		width: 100vw;
	}
	nav {
		width: 100vw;
		height: 80px;
		top: unset;
		bottom: 0;
		left: 0;
		flex-direction: row;
		align-items: center;
		#logo-tile {
			display: none;
			margin-bottom: 0 !important;
		}
		div.active {
			background-color: #151519;
		}
		span {
			display: none;
		}
	}
	nav.open {
		width: 100vw;
		span {
			display: none;
		}
	}
}
@media only screen and (min-width: 600px) {
	main {
		header {
			padding: 36px 96px;
			#title {
				font-size: 1.5rem;
			}
			#headline {
				font-size: 2rem;
				width: 55%;
			}
		}
		section {
			margin: 55px auto;
		}
	}
}
@media only screen and (max-width: 599px) {
	main {
		header {
			padding: 28px 30px;
			#title {
				margin-top: 12px;
				font-size: 1.5rem;
			}
			#headline {
				font-size: 1.6rem;
				width: 100%;
			}
		}
		section {
			margin: auto auto 75px auto;
			.blog-card {
				margin: auto auto;
				width: 95%;
            }   
        }
        
        &#team section
        {
            padding: 10px 20px;

            .card-flex
            {
                justify-content: center !important;
            }

            .team-card
            {
                margin-right: 0 !important;
            }
        }
	}
}
