@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap');

$nav-width: 80px;
$nav-width-expanded: 300px;
$nav-height-mobile: 80px;


*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    background-color: #F4F7F9;
    font-family: 'Inter', Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

nav
{
    color: white;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #23232E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: $nav-width;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    overflow-x: hidden;
    z-index: 5;

    a
    {
        text-decoration: none;
        width: 100%;
        height: $nav-width;
    }

    &.open
    {
        width: $nav-width-expanded;

        span
        {
            transition-duration: 0.4s !important;
            position: absolute !important;
            left: 80px !important;
            opacity: 100% !important;
        }
    }

    div
    {
        width: 100%;
        height: $nav-width;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #23232E;
        transition-duration: 0.2s;

        &:hover
        {
            background-color: #141418;
            
            svg
            {
                fill: #FB7E7E;
            }
        }

        span
        {
            transition-timing-function: ease;
            text-overflow: clip;
            text-decoration: none;
            position: absolute;
            color: #b6b6b6;
            font-weight: 500;
            font-size: 1rem;
            opacity: 0;
            word-wrap: none;
        }

        &#logo-tile
        {
            background-color: #141418;
            margin-bottom: 20px;

            span
            {
                left: 200px;
                font-size: 1.3rem;
                font-weight: 600;
            }

            svg
            {
                right: 21px;
            }
        }
        
        &.active svg
        {
            fill: #FB7E7E;
        }

        svg
        {
            position: absolute;
            left: 21px;
            fill: #8f8f8f;
            transition-property: fill;
            transition-duration: 0.2s;
            transition-timing-function: ease;
            width: 35px;
            height: 35px;
        }
    }
}

main
{
    position: relative;
    width: calc(100vw - #{$nav-width});
    left: $nav-width;

    header
    {
        background-color: #4D4D5B;
        width: 100%;
        min-height: 100px;
        padding: 20px 48px;
        display: flex;
        flex-direction: column;

        #title
        {
            font-weight: 800;
            font-size: 1.3rem;
            color: #A0A0AB;
            margin-bottom: 12px;
        }

        #headline
        {
            font-weight: 600;
            font-size: 1.7rem;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 900px)
{
    main
    {
        left: 0;
        width: 100vw;
    }

    nav
    {
        width: 100vw;
        height: $nav-height-mobile;
        top: unset;
        bottom: 0;
        left: 0;
        flex-direction: row;
        align-items: center;

        #logo-tile
        {
            margin-bottom: 0 !important;
        }

        &.open
        {
            width: 100vw;
            
            span
            {
                display: none;
            }
        }

        span
        {
            display: none;
        }
    }
}